$proportion: 16; // px : rem   16:1
@function px2rem($px) {
  @return $px/$proportion+rem;
}

// 全局字号
$size36:36px;
$size28:28px;
$size26:26px;
$size30:30px;
$size32:32px;
// 全局色号
$color-w:#ffffff;
$color-y:rgba(251, 222, 25, 1);
$color-g:#f5f5f5;
$color-g2:#888888;
$color-35:#353535;
body {
  background-color: #f5f5f5;
}

html,
body,
#app {
  height: 100%;
}

img {
  content: normal !important
}

* {
  margin: 0;
  // padding: 0;
}

body {
  -webkit-overflow-scrolling: auto;
}

[v-cloak] {
  display: none;
}

input,
button,
textarea {
  // background: none;
  outline: none;
  // border: 0px;
  appearance: none;
}

// 取消chrome下textarea可拖动放大
textarea {
  resize: none
}