$proportion: 16; // px : rem   16:1
@function px2rem($px) {
  @return $px/$proportion+rem;
}

// 全局字号
$size20:20px;
$size22:22px;
$size32:32px;
$size26:26px;
$size27:27px;
$size28:28px;
$size30:30px;
$size34:34px;
$size36:36px;
$size40:40px;
$size50:50px;
$size94:94px;
// 全局色号
$color-ff:#ffffff;
$color-fb:#FBDE19;
$color-88:#888888;
$color-35:#353535;
$color-00:#000000;
$color-e5:#E5E5E5;
$color-d2:#D2D2D2;
$color-f5:#F5F5F5;
$color-f56:#F56E72;
$color-a6:#A6B5F7;
$color-e3:#E3E3E3;
$color-90:#908224;
$color-f3:#F3F3F3;

body {
  background-color: #f5f5f5;
}

html,
body,
#app {
  height: 100%;
  touch-action: none; //当你触摸并按住触摸目标时候，禁止系统默认菜单
}

img {
  content: normal !important
}

* {
  margin: 0;
  // padding: 0;
}

body {
  -webkit-overflow-scrolling: auto;
}

[v-cloak] {
  display: none;
}

input,
button,
textarea {
  // background: none;
  outline: none;
  // border: 0px;
  appearance: none;
}

// 取消chrome下textarea可拖动放大
textarea {
  resize: none
}